**/bin/
**/obj/
.vs/
.tools/
artifacts/
*.user
*.keystore
*.p12
*.mobileprovision
TestResults/
firebase-debug*.log
.DS_Store
*.tmp
*.bak
*.log
*.apk
*.aab
*.db
*.sqlite
*.sqlite3
exports/
.nuget-packages/
